.products-container {
  display: flex;
}

.products-content {
  flex: 1;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 10px;
}

table th {
  background: #1976d2;
  color: white;
}